.test {
  background-color: palegoldenrod;
}

.test2 {
  width: 1000px;
  height: 1000px;
  background-size: contain;
  background: url('../img/img2.jpeg');
  background-repeat: no-repeat;
  background-color: red;
}